.currencies {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 15px;

    font-weight: 600;
    &__item {
    }
    &__dollar {
        margin-bottom: 10px;
    }
    &__euro {
    }
}
@media (max-width: 565px) {

.currencies {
    align-items: center;
    // font-size: 18px;
}
}