.currencies {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 15px;

    font-weight: 600;

}
.item{
margin: 2px;
}
.itemLi{
    width: 150px;
}
@media (max-width: 565px) {

.currencies {
    align-items: center;
}
}