.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.title {
    color:var( --black-grey);
    text-align: center;
    width: 70vw;
    margin-bottom: 20px;
}
