.menu {
    width: 100%;
    padding: 0 10px;
    background-color: #fff374;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: #3371db;
    cursor: pointer;
    // overflow: hidden;
    position: relative;
}
.menuItem {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    justify-content: center;

    transform: translateY(0%);

    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
}
.title {
    transform: translateY(-350%);
    display: block;
    // display: none;
    transition: all 0.8s;
    // position: relative;
    // transform: translateY(0);
}
.helper {
    position: absolute;
    background-color: #fff374;
    width: 100%;
    height: 80px;
    left: 0;
    // position: fixed;
    z-index: 9;
    top: 0;
}
.list {
    position: absolute;
    display: flex;
    align-items: center;
    transform: translateX(150%);
    right: -100%;
    height: 80px;
    transition: 0.3s;
    visibility: hidden;
    // display: none;
    z-index: 8;
}
.menuItem span,
.menuItem span::before,
.menuItem span::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #3371db;
}
.menuItem span::before {
    content: "";
    top: -10px;
}
.menuItem span::after {
    content: "";
    top: 10px;
}

.menuItem:hover {
    span,
    span::after,
    span::before {
        background-color: #015aff;
    }
}
.hide {
    transform: translateY(250%);
}

.menuOpen {
    visibility: visible;
    transform: translateX(-120%);
    // right: 100%;
}
.menuClick {
    span {
        height: 0;
        transform: rotate(45deg);
    }
    span::before,
    span::after {
        top: 0;
    }
    span::before {
        transform: rotate(90deg);
    }
}
.menuList {
    &__item {
        padding: 0 20px;
        transition: all 0.3s;
        cursor: pointer;
    }
    &__item:hover {
        color: hsl(207, 100%, 64%);
    }
}
.menu:hover {
    .menuItem {
        transform: translateY(0);
    }
    .menuItem span,
    .menuItem span::after,
    .menuItem span::before {
        background-color: #3371db;
    }
}

.menuHover {
    transform: translateY(0);
}

@media (max-width: 759px) {
    .logo__title {
        font-size: 28px;
    }
    .menuItem {
        transform: translateY(0);
    }
    .menuItem span,
    .menuItem span::after,
    .menuItem span::before {
        background-color: #3371db;
    }
}
