.contactsContent{
    h2{
        margin-top:10px;
    }
    div:last-child{
        margin-bottom: 20px;
    }
}
@media( max-width: 569px){
    .contactsContent{
        display: flex;
        justify-content: center;
        div{
            margin-left: 10px;
        }
    }
}