
.footer {
    display: flex;
    justify-content:space-around;
    // margin-top: 30px;
    height: 80px;
    background-color: rgb(39, 39, 39);
    color: azure;
    padding: 5px 5px;
    // flex-wrap: wrap;
    align-items:center;
    // justify-content:flex-start;

    
}
.block{
    display: flex;
    justify-content:space-between;
    width: 80%;

}
.contacts {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    color:whitesmoke;
   
}
.tel{
    
}
.items{
    margin: 0 ;
}
.logo {
width: 50px;
}

@media( max-width: 529px){
    .footer {
        padding: 20px 10px;
        height: 150px;
    }
}

@media( max-width: 529px){
    .block{
        display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
:nth-child(1){
    grid-area: 1/1/1/1;
}
:nth-child(2){
    grid-area: 2/1/2/1;
}
.contacts{
    margin: 0;

}
    }

}