.contacts{
    padding: 10px 20px;
    margin:50px 0;
    display: flex;
    justify-content: center;
    // align-items:center;
}
@media( max-width: 569px){
    .contacts{
        display: flex;
        flex-direction: column;
    }
}