.header {
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.item {
    display: grid;
    grid-template-columns: 3fr 8fr 10%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
overflow: hidden;

}

@media (max-width: 999px) {
    .container {
        max-width: none;
    }
}
@media (max-width: 759px) {
    .header__item {
        grid-template-columns: 3fr 8fr 1.5fr;
    }
}

@media (max-width: 565px) {
    .header__item {
        grid-template-columns: 3fr 6fr 2fr;
    }
}

@media (max-width: 450px) {
    .header__item {
        grid-template-columns: 3fr 6fr 2fr;
    }
}
